:root{
    --main-black-color : #333333;
    --main-blu-color : #78C0DE;
    --main-grey-color : #949494;
    --main-white-color : #ffffff;
    --main-yellow-color : #FFBD54;
    --main-grey-white-color : #F9F8F8;
    --main-hower-yellow-color :#F4FFAD;
    --main-font-size : 48px;
    --main-font-weight : 700;
    --main-line-height : 20px;
}
@font-face {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/FuturaPT-Light.woff'); /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/FuturaPT-Light.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/FuturaPT-Light.woff') format('woff'), /* Modern Browsers */
  } 
@font-face {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/FuturaPT-Book.woff'); /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/FuturaPT-Book.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/FuturaPT-Book.woff') format('woff'), /* Modern Browsers */
  }
  @font-face {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/FuturaPT-Medium.woff'); /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/FuturaPT-Medium.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/FuturaPT-Medium.woff') format('woff'), /* Modern Browsers */
  }
 
@font-face {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/FuturaPT-Bold.woff'); /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/FuturaPT-Bold.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/FuturaPT-Bold.woff') format('woff'), /* Modern Browsers */
}
*{
    box-sizing: border-box;
}
html{
    height: 100%;
}
img{
    display: block;
    height: auto;
}
a {
    text-decoration: none;
    display: inline-block;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Futura PT", sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-image: url(../images/bg.png);
    background-color: var(--main-grey-white-color);
    overflow-x: hidden;
}
.container{
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 20px;
}

/* header-start */
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 500;
}
.header-top__adres-box{
    position: relative;
}
.header-top__adres{
    padding-left: 180px;
    color: var(--main-black-color);
}
.header-top__adres::before{
    position: absolute;
    width: 14px;
    height: 13px;
    top: 3px;
    left: 160px;
    background-image: url(../images/house-logo.svg);
    background-repeat: no-repeat;
    content: "";
}
.header-top__list{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}
.header-top__list :nth-child(1)::before{
    position: absolute;
    width: 14px;
    height: 13px;
    top: 3px;
    left: 0px;
    background-image: url(../images/phone-logo.svg);
    background-repeat: no-repeat;
    content: "";  
}
.header-top__list :nth-child(2)::before{
    position: absolute;
    width: 4px;
    height: 4px;
    top: 7px;
    left: 140px;
    background-image: url(../images/Ellipse\ 5.svg);
    background-repeat: no-repeat;
    content: "";  
}.header-top__list :nth-child(3)::before{
    position: absolute;
    width: 4px;
    height: 4px;
    top: 7px;
    right: 120px;
    background-image: url(../images/Ellipse\ 5.svg);
    background-repeat: no-repeat;
    content: "";  
}
.header-top__item{
    padding-left: 22px;
}
.header-top__tel{
    color: var(--main-black-color);
}
.header-top__tel:hover{
    color: var(--main-yellow-color);
}
.header-top__tel:active{
    color: var(--main-black-color);
    opacity: 0.6;
}
.header-top__data{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none
}
.header-top__data :nth-child(1)::before{
    position: absolute;
    width: 15px;
    height: 15px;
    top: 3px;
    left: 0px;
    background-image: url(../images/schedule.svg);
    background-repeat: no-repeat;
    content: "";
}
.header-box__nav{
    background-color: var(--main-white-color);
    border: 1px solid #F3F3F3;
}
.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.header-nav__logo::before{
    position: absolute;
    width: 177.5px;
    height: 86.3px;
    top: -20px;
    left: -20px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    content: "";
}
.logo:hover{
    opacity: 0.8;
}
.logo:active{
    opacity: 0.6;
}
.header-nav__list{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    list-style: none;
    padding: 0px;
    margin: 18px 0;
}
.header-nav__item{
    padding-left: 55px;
}
.header-nav__link{
    color: var(--main-black-color);
    border-bottom: 4px solid transparent;
}
.header-nav__link:hover{
    border-bottom: 4px solid var(--main-hower-yellow-color);
}
.header-nav__link:active{
    opacity: 0.6;
}
.pet{
    color: var(--main-black-color);
    position: relative;
}
.pet::before{
    position: absolute;
    width: 25px;
    height: 25px;
    top: -4px;
    left: 16px;
    background-image: url(../images/pet.svg);
    background-repeat: no-repeat;
    content: "";
}
.pet:hover{
    color: var(--main-yellow-color);
}
.pet:active{
    opacity: 0.6;
}
.fish::before{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    left: 220px;
    background-image: url(../images/fish.svg);
    background-repeat: no-repeat;
    content: "";
}
.header-nav__btn{
    position: relative;
}
/* header-end */

/* hero-section-start */
.hero{
    position: relative;

}
.hero__bigbox{
    position: relative;
    width: 620px;
    height: 350px;
    margin-bottom: 550px;
}
.hero__bg{
    position: absolute;
    width: 850px;
    height: 800px;
    z-index: -1;
    top: -90px;
    left: -340px;
    background-image: url(../images/hero-bg1.svg);
    background-repeat: no-repeat;
    content: "";
}
.hero-box{
    position: absolute;
    top: 230px;
    right: -660px;
    content: "";
}
.hero-box::after{
    position: absolute;
    width: 430px;
    height: 430px;
    top: 200px;
    left: 500px;
    background-image: url(../images/hero-bg2.svg);
    background-repeat: no-repeat;
    content: "";
}
.hero-box__theme{
    margin: 0;
    margin-bottom: 29px;
    width: 608px;
    height: 128px;
    font-size: 70px;
    font-weight: 700;
    line-height: 64px;
}
.blu-color{
    color: var(--main-blu-color);
}
.hero-box__commit{
    margin: 0;
    margin-bottom: 38px;
    width: 495px;
    height: 105px;
    color: var(--main-grey-color);
    font-weight: 400;
    line-height: 21px;
}
.hero-box__btn{
    color: var(--main-white-color);
    background-color: var(--main-black-color);
    padding: 15px 48px;
    border-radius: 3px;
}
.hero-box__btn:hover{
    color: var(--main-black-color);
    background-color: var(--main-yellow-color);
}
.hero-box__btn:active{
    opacity: 0.6;
}
/* hero-section-end */

/* our-section-start */
.our{
    position: relative;
}
.our__box{
    padding: 0;
    position: relative;
}
.our__box::before{
    position: absolute;
    width: 200px;
    height: 20px;
    top: 0px;
    left: 0px;
    background-image: url(../images/Line\ 3.png);
    background-repeat: no-repeat;
}
.our__box::after{
    position: absolute;
    width: 140px;
    height: 2px;
    top: 0px;
    left: 0px;
    background-image: url(../images/Line\ 3.png);
    background-repeat: no-repeat;
}
.our__commit{
    width: 753px;
    height: 78px;
    margin: auto;
    padding-top: 43px;
    padding-bottom: 100px;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.64px;
    text-align: center;
    color: var(--main-grey-color);
}
.our__commit::before{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 15px;
    left: 200px;
    background-image: url(../images/“.png);
    background-repeat: no-repeat;
    content: "";
}
.our__commit::after{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 95px;
    right: 160px;
    background-image: url(../images/“\ \(1\).png);
    background-repeat: no-repeat;
    content: "";
}
.our__theme{
    color: var(--main-black-color);
    text-align: center;
    font-size: 20px;
    line-height: 25.64px;
    font-weight: 500;
}
/* our-section-end */

/* service-section-start */
.service__theme{
    text-align: center;
    color: var(--main-black-color);
    font-size: 48px;
    font-weight:700;
    line-height: 54px;
}
.service__list{
    display: flex;
    list-style: none;
    width: 1275px;
    overflow-x: hidden;
    margin-bottom: 0px;
}
.service__item{
    width: 193px;
    height: 201px;
    flex-shrink: 0;
    background: var(--main-white-color);
    border: 1px solid #F3F3F3;
    border-radius: 5px;
    position: relative;
    margin-right: 13px;
    padding: 28px 32px;
}
.service__item:hover{
    opacity: 0.8;
}
.service__item:active{
    opacity: 0.6;
}
.service__item--first{
    height: 210px;
    padding-bottom: 0; 
    margin-bottom: 0px;
    border-bottom: none;
}
.service__link{
    width: 126px;
    height: 44px;
    padding-top: 100px;
    color: var(--main-black-color);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}
.service__item:nth-child(1)::before{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 28px;
    left: 55px;
    background-image: url(../images/doctor\ 1.svg);
    background-repeat: no-repeat;
    content: "";
}
.service__item:nth-child(2)::before{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 28px;
    left: 55px;
    background-image: url(../images/filled\ outline.svg);
    background-repeat: no-repeat;
    content: "";
}
.service__item:nth-child(3)::before{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 28px;
    left: 55px;
    background-image: url(../images/stom.svg);
    background-repeat: no-repeat;
    content: "";
}
.service__item:nth-child(3)::before{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 28px;
    left: 55px;
    background-image: url(../images//surgeon.svg);
    background-repeat: no-repeat;
    content: "";
}
.service__item:nth-child(4)::before{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 28px;
    left: 55px;
    background-image: url(../images/dermatology.svg);
    background-repeat: no-repeat;
    content: "";
}
.service__item:nth-child(5)::before{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 28px;
    left: 55px;
    background-image: url(../images/laboratory.svg);
    background-repeat: no-repeat;
    content: "";
}
.service__item:nth-child(6)::before{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 28px;
    left: 55px;
    background-image: url(../images/oftalmology.svg);
    background-repeat: no-repeat;
    content: "";
}
.service__item:nth-child(7)::before{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 28px;
    left: 55px;
    background-image: url(../images/uzi.svg);
    background-repeat: no-repeat;
    content: "";
}
.service__item:nth-child(8)::before{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 28px;
    left: 55px;
    background-image: url(../images/chiping.svg);
    background-repeat: no-repeat;
    content: "";
}
.service__item:nth-child(9)::before{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 28px;
    left: 55px;
    background-image: url(../images/passport.svg);
    background-repeat: no-repeat;
    content: "";
}
.service__item:nth-child(10)::before{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 28px;
    left: 55px;
    background-image: url(../images/stom.svg);
    background-repeat: no-repeat;
    content: "";
}
.service__item:nth-child(11)::before{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 28px;
    left: 55px;
    background-image: url(../images/stom.svg);
    background-repeat: no-repeat;
    content: "";
}
.service__item:nth-child(12)::before{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 28px;
    left: 55px;
    background-image: url(../images/veterinary-8\ 1.svg);
    background-repeat: no-repeat;
    content: "";
}
.service__box{
    display: flex;
    margin-top: 0px;
    margin-left: 40px;
    width: 1220px;
    background-color:var(--main-white-color);
}
.service__img{
    width: 560px;
    height: 332px;
    margin: 41px 28px;
}
.service__minibox{
    width: 492px;
    margin-left: 28px;
}
.service__minitheme{
    color: var(--main-black-color);
    font-size: 36px;
    line-height: 20px;
    margin-top: 74px;
    margin-bottom: 28px;
}
.service__commit{
    margin: 0;
    margin-bottom: 9px;
    color: var(--main-grey-color);
}
.service__btn-box{
    margin-top: 34px;
    position: relative;
}
.service__btn{
    color: var(--main-white-color);
    padding: 15px 36px;
    padding-left: 64px;
    background-color: var(--main-yellow-color);
    border-radius: 3px;
    margin-right: 21px;
}
.btn-1::before{
    position: absolute;
    width: 21px;
    height: 21px;
    top: 15px;
    left: 26px;
    background-image: url(../images/money\ 1.svg);
    background-repeat: no-repeat;
    content: "";
}
.btn-1:hover{
    background-color: var(--main-black-color);
    color: var(--main-yellow-color);
}
.btn-1:active{
    opacity: 0.6;;
}
.btn-2{
    background-color: var(--main-black-color);
}
.btn-2:hover{
    background-color: var(--main-yellow-color);
    color: var(--main-black-color);
}
.btn-2:active{
    opacity: 0.6;;
}
.btn-2::before{
    position: absolute;
    width: 21px;
    height: 21px;
    top: 15px;
    left: 234px;
    background-image: url(../images/document\ 1.svg);
    background-repeat: no-repeat;
    content: "";
}
/* service-section-end */
/* update-section-start */
.update{
   background-image: url(../images/bud-v-kurse-bimg.png); 
   content: "";
   height: 308px;
}
.update-box{
    position: relative;
    display: flex;
    height: 140px;
    padding: 65px 190px;
    margin: 220px auto;
}

.update-box__minibox{
    position: absolute;
    content: "";
    left: 155px;
}
.update-box__theme{
    color: var(--main-white-color);
    font-size: 48px;
    font-weight: 700;
    line-height: 20px;
}

.two{
    display: flex;
}
.two::after{
    position: absolute;
    width: 613px;
    height: 481px;
    top: -393px;
    left:  -22px;
    content: "";
    background-image: url(../images/bud-v-kurse.png);
}
 
.update-box__input{
    width: 335px;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin-right: 24px;
}
.pdate-box__input{
    border-color: var(--main-yellow-color);
}
.update-box__input:invalid{
    color: #DC4D41;
    border: 1px solid #DC4D41;
    background-image: url("/images/icon-error.svg");
    background-repeat: no-repeat;
    background-position: 75% 25%;
}
.update-box__input:valid{
    border-color:#ddffdd;
}
.update-box__btn{
    background-color: var(--main-black-color);
    color: var(--main-white-color);
    padding: 15px 52px;
    border: none;
    border-radius: 5px;
}
/* update-section-encd */
/* article-section-start */
.article{
    margin-top: 216px;
}
.article-box__theme{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 20px;
}
.article-box__list{
    display: flex;
    list-style: none;
}
.article-box__item{
    width: 310px;
    height: 435px;
    margin-right: 24px;
    background: #FEFEFE;
    border: 0px solid #E4E4E2;
    border-radius: 5px;
}
.article-box__img-box2{
    padding: 22px;
}
.article-box__box3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.article-box__hesh{
    visibility: hidden;
}
.article-box__minitheme{
    margin: 0px;
    padding: 0px;
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
}
.article-box__commit{
    padding: 0;
    margin: 10px 0;
    color: var(--main-grey-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.article-box__link{
    margin-top: 25px;
    padding-left: 55px;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    position: relative; 
}
.article-box__hesh--active{
    color: #3D9CEA;
    margin: 10px 0;
    visibility: visible;
}

.article-box__item--flex{
    display: flex;
    width: 640px;
    height: 435px;
}
/* article-section-end */
/* start-footer */
footer{
    background: #F3F3F3;
    border: 1px solid #EBEBEB;
    margin: 0 auto;
}
.footer-box{
    height: auto;
    display: flex;
    margin: 0 auto;
    padding: 60px 200px;
    position: relative;
    align-content: center;
    justify-content: center;
}
.footer-box__logo{
    position: absolute;
    width: 177.5px;
    height: 88.3px;
    left: 5px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    content: "";
}
.footer-box__list{
    width: 156px;
    height: 91px;
    list-style: none;
    margin: 0;
    margin-left: 87px;
    padding-left: 0;
}
.footer-box__list--data{
    margin-left: 127px;
}
.footer-box__item{
    margin: 0px;
    margin-bottom: 14px;
    width: 115px;
    height: 21px;
}
.footer-box__item--data{
    width: 120px;
    height: 18px;
    font-size: 14px;
    line-height: 17.95px;
    margin-bottom: 3px;
}
.footer-box__item--data:hover{
    color: var(--main-yellow-color)
}
.footer-box__item--data:active{
    opacity: 0.6;
}
.footer-box__list--data::before{
    position: absolute;
    width: 16px;
    height: 16px;
    top: 65px;
    right: 580px;
    background-image: url(../images/schedule.svg);
    background-repeat: no-repeat;
    content: "";
}
.footer-box__item--tel{
    margin-bottom: 4px;
}
.footer-box__adres-list{
    margin: 0px;
    margin-left: 137px;
    width: 157px;
    height: 42px;
    list-style: none;
    padding-left: 0px;
}
.footer-box__adres{
    color: var(--main-black-color);
    width: 157px;
    height: 42px;
}
.footer-box__adres::before{
        position: absolute;
    width: 16px;
    height: 20px;
    top: 65px;
    right: 320px;
    background-image: url(../images/house-logo.svg);
    background-repeat: no-repeat;
    content: "";
}
.footer-box__adres:hover{
    color: var(--main-yellow-color);
}
.footer-box__adres:active{
    opacity: 0.6;
}
.footer-box__link{
    color: var(--main-black-color);
}
.footer-box__link:hover{
    color: var(--main-yellow-color);
}
.footer-box__link:active{
    opacity: 0.6;
}
.footer-box__tel{
    color: var(--main-black-color);
    font-size: 14px;
    width: 115px;
    height: 15px;
}
.footer-box__tel:hover{
    color: var(--main-yellow-color);
}
.footer-box__tel:active{
    opacity: 0.6;
}
/* end-footer */